{% extends "base.html" %}

{% block content %}
<h2>Iniciar Sesión</h2> <br>

<form method="POST" novalidate class="contact">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <div>
    <label for="id_username">Nombre de usuario</label>
    {{ form.username.errors }}
    {{ form.username }}
  </div>

  <div>
    <label for="id_password">Contraseña</label>
    {{ form.password.errors }}
    {{ form.password }}
  </div><br>

  <button type="submit">Ingresar</button>
</form> <br>

<h3>Si no tienes un perfil de usuario debes <a href="{% url 'usuarios:path_registro' %}">Registrarte.</a></h3>
{% endblock %}
