{% extends 'base.html' %}

{% block content %}
	
    <h1>Donde nos podes encontrar</h1> 
    <p>Estamos en la ciudad de Resistencia, Chaco. Por la calle: Arturo Illia 1055.</p>
    <p>Para temas administrativos y personales, nuestro horario de atencion es de 08:00hs - 12:30hs</p>
    
    <!--El mapa del info-->    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.2638198951913!2d-58.978733!3d-27.461044899999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450ce8b2457993%3A0xb6cc63aac9bf8073!2sInformatorio!5e0!3m2!1ses-419!2sar!4v1755107305692!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{% endblock content %}