{% extends 'base.html' %}

{% block content %}
	
    <h1>Conoce a quienes conforman el Informatorio.</h1> 
    <p>El Informatorio Chaco es un programa provincial de formación en programación y tecnología, impulsado por el Gobierno del Chaco. Su estructura está compuesta por diversos equipos que trabajan en conjunto para ofrecer una capacitación de calidad. A continuación, se detallan los principales componentes de su equipo:</p>
    <p>Equipo Directivo</p>
    <p>El programa es coordinado por la Subsecretaría de Industria, Empleo y Comercio del Gobierno del Chaco. En ediciones recientes, se ha contado con la participación de autoridades como:</p>
    <p>Hipólito Beveraggi – Subsecretario de Industria, Empleo y Comercio.</p>
    <p>Enrique Larrea – Director de Empleo y Proyectos Estratégicos.</p>
    <p>Equipo Académico</p>
    <p>El Informatorio cuenta con un equipo de profesores y mentores que acompañan a los estudiantes durante el proceso de aprendizaje. Estos profesionales son responsables de la creación de contenidos, la tutoría y el soporte técnico. Por ejemplo, en la edición de 2024, se mencionaron cinco mentores especializados en áreas como HTML, CSS y GitHub.</p>
    <p>Colaboradores Institucionales</p>
    <p>El programa también colabora con instituciones educativas y organizaciones del sector tecnológico. Por ejemplo, en 2024, se lanzó un curso de robótica educativa para infancias en conjunto con la Universidad Nacional del Nordeste (UNNE) y el Instituto de Educación Superior UEGP Nº 106 de FUNDUNNE.</p>
    <p>Soporte Institucional</p>
    <p>El Polo IT Chaco, una entidad privada dedicada a la articulación del sector público, la producción y la academia, ha sido fundamental en la implementación y expansión del programa. Su colaboración ha permitido aumentar la cobertura del Informatorio a más del 100% de las localidades chaqueñas.</p>

{% endblock content %}