{% extends 'base.html' %}

{% block content %}
	<div>
        <h1>Esta es Nuestra Institución Formativa</h1> 
        <p>El Informatorio es un programa de formación virtual en programación y tecnología, impulsado por el Gobierno de la Provincia del Chaco y es hecho por chaqueños, para chaqueños.
        Con participaciones en 70 localidades de la provincia, teniendo actualmente 35.712 inscriptos
        en el programa.</p>
        <p>Estos inscriptos participan de las distintas Etapas de formación y de los eventos del Informatorio, sean virtuales o presenciales con el objetivo de conocer acerca de la industria del Software y Servicios Informaticos. Para participar deben cumplir estos requisitos; tener mas de 14 años y residir en la Provincia del Chaco.</p>
        <p>Las Etapas de formación y algunos eventos del Informatorio, son 100% virtuales para que los participantes que residen en el interior de la provincia, puedan realizarlos desde la comodidad de sus hogares sin la necesidad de tener que viajar a la ciudad Resistencia. Durante el proceso de formación los participantes hacen un trayecto que los dividimos en tres etapas estas son: </p>
        <p>Etapa 1: Introducción a la Programación Web</p>
        <p>En esta primer etapa se daran los primero pasos, de los participantes que tengan su primer vez en el desarrollo web o en el Informatorio, tambien para refrescar el conocimiento para quienes tengan conocimientos basicos en programación. Es virtual y autogestiva, para que puedas hacerlo a tu ritmo y tiene una duracion de 4 semanas.</p>
        <p>Etapa 2: Desarrollo Web con Python</p>
        <p>Finalizada la etapa anterior los participantes pasan a esta nueva instancia, en donde los temas y metodologias de trabajo son distintas, al paso previo. ¿Porque? En esta etapa trabajamos con los siguientes temas; como lenguaje de programación utilizamos a "Python", "Base de Datos", y el framework de "Django". Es virutal y asincronico, es decir tendras dos encuentros semanales, con el profesor/a y mentoria para despejar dudas e ir corrigiendo tus actividades, teniendo una duracion de 16 semanas.</p>
        <p>Etapa 3: Especialidades</p>
        <p>Una vez que los participantes completan y aprueban las etapas 1 y 2, acceden a esta tercer etapa donde aprenderan y trabajaran, tematicas como: ("Ingles Tecnico", "Diseño UI y Prototipado", "Diseño de Producto Digital", "Testing", "React", "Java", "Análisis de Datos")
              
        Esta tercer etapa es el ultimo complemento dentro del programa formativo y de este modo los/as participantes del Informatorio comprenden distintas areas y objetivos en la programación. Logrando adquirir estos conocimientos de las tres etapas en el transcurso de un año.</p>
        
    </div>
    
{% endblock content %}