{% extends 'base.html' %}

{% block content %}
	
     <h1>Estudiantes Destacados</h1> 
    
    <div class="biografia">
        <img src="#" alt="Foto del estudiante">
        <h2>Lucas Rodriguez</h2>
        <p>Lucas Rodriguez, es participante de nuestro programa, esta cursandolo desde la localidad de Taco Pozo. Es parte del Informatorio desde marzo de este año, fue destacado por su rapida aptitud para resolver problemas de codificación y poder leer codigo propio como el de sus compañeros, ademas esta estudiando la tecnicatura en programación en la (UTN) Universidad Tecnologica Nacional en la ciudad de Resistencia.</p>
    </div>
    
    <div class="biografia">
        <img src="#" alt="Foto del estudiante">
        <h2>Yamila Vallejos</h2>
        <p>Yamila Vallejos, es participante de nuestro programa, esta cursandolo desde la ciudad de Fontana. Es parte del Informatorio desde marzo de este año, es una participante que empezo a incursionar en programación, haciendo de su Hobby una realidad y forjando una profesion hacia el futuro. Despejando todas sus dudas en las clases y en mentoria teniendo una gran participación en general y compañerismo que es muy notorio.</p>
    </div>
       
{% endblock content %}