{% extends 'base.html' %}

{% block content %}
	
    <h1>Formulario de Contacto</h1>

    <form method="post" class="contact">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>
    <div>
        <h3>Tambien podes escribirnos en nuestras redes sociales y canal de Whatsapp</h3>
        <a href="https://www.instagram.com/informatorio/?hl=es">Instagram</a> 
        <a href="https://www.facebook.com/informatorio.chaco">Facebook</a> 
        <a href="https://wa.me/5493624625154">Whatsapp</a> <br>
    </div>
    
{% endblock content %}